@page
@using FShop.RazorPage.Models.Roles
@using FShop.RazorPage.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FShop.RazorPage.Pages.Admin.Roles.EditModel
@{
    ViewData["title"] = "ویرایش نقش";
    ViewData["selected"] = "roles";
}

<h3>@ViewData["title"]</h3>
<form method="post" class="card">
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(m => m.Title)
        </div>
        @*        <div class="col-md-6">
            <label>انتخاب دسترسی ها</label>
            <select  class="select2 form-control" multiple="" name="permission[]">
                @foreach (var item in Enum.GetNames(typeof(Permission)))
                {
                    <option selected="@Model.Permissions.Any(f=>f.ToString()==@item)" value="@item">@item.Replace("_", " ")</option>
                }
            </select>
        </div>*@
        <div class="col-md-6">
            <label>انتخاب دسترسی ها</label>
            <div class="row">
                @foreach (var item in Enum.GetNames(typeof(Permission)))
                {
                    var id = Guid.NewGuid();

                    <div class="col-md-4">
                        <div class="custom-control custom-switch custom-switch-success mr-2 mb-1">
                            <label class="mb-0 d-block">@item.Replace("_"," ")</label>
                            <input type="checkbox" value="@item" checked="@(Model.Permissions.Any(f=>f.ToString()==item))" class="custom-control-input" name="permissions" id="@id">
                            <label class="custom-control-label" for="@id">
                                <span class="switch-icon-left"><i class="bx bx-check"></i></span>
                                <span class="switch-icon-right"><i class="bx bx-check"></i></span>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="card-footer text-left">
        @*        <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
*@    
        <cancel-button></cancel-button>

        <Submit></Submit>
    </div>
</form>