@page
@using FShop.RazorPage.Services.Products
@using FShop.RazorPage.Models.Products
@model FShop.RazorPage.Pages.SellerPanel.Inventories.AddModel
@inject IProductService ProductService;
@{
    var products = await ProductService.GetProductByFilter(new ProductFilterParams()
    {
        PageId = 1,
        Take = 1000
    });
}
<form method="post" class="card">
    <div class="row card-body">
        <div class="col-md-6">
            <label>انتخاب محصول</label>
            <select asp-for="ProductId" class="form-control select2">
                @foreach (var item in products.Data)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f => f.Price)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f => f.Count)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(f => f.DiscountPercentage)
        </div>
    </div>
    <div class="card-footer text-left">
        <cancel></cancel>
        <submit />
    </div>
</form>
@section Scripts
{
    <script src="/global.js"></script>

}
